# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
dist-electron/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
backend/config.json

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Env
.env*.local
.env

# Logs
*.log
npm-debug.log*
